<!--Author:  Andrew Clos
//  Date:  12/6/2019
//  Title: Assignment 6: Database and UI
//  Description: This project demonstrates some simple backend database and UI interactions by tracking workouts. -->

<link rel="stylesheet" type="text/css" href="/css/style.css">   

<h3 class="title2">Makes Changes to Existing Exercise</h3> 

<form action="/update" id="exerciseEntry2">  
    <fieldset class="defaultText">
        <legend class="title">Update the exercise:</legend>
            <div class="container">  <!-- container is for style purposes -->
                Exercise Type<input type="text" name="exerciseType" id="exerciseType" value={{workouts.name}} class="defaultText"><br>  
                Repetitions<input type="number" name="reps" id="reps" value={{workouts.reps}} class="defaultText"><br> 
                Weight<input type="number" name="weight" id="weight" value={{workouts.weight}} class="defaultText"><br>
                Date<input type="date" name="date" id="date" value={{workouts.date}} class="defaultText"><br>
                Lbs<input type="radio" name="unit" id="lbs" value="lbs" checked="checked" class="defaultText">
                Kg<input type="radio" name="unit" id="kg" value="kgs" class="defaultText">
                <input type="hidden" name="id" value={{workouts.id}}>
                <input type="submit" name="updateEx" id="updateEx" value="Update" class="defaultText">
            </div>
    </fieldset>
</form>