<div style="padding-left:16px">
  <h2>Tropical Fish Emporium</h2>
  <p>Search for employees here.</p>

  <form method ="GET" action ="/employees">
    <fieldset>
      <legend>Search Employee Here:</legend>
        <label>First Name:
          <input type ="text" name ="firstName">
        </label><br><br>
        <label>Last Name:
          <input type ="text" name ="lastName">
        </label><br><br>
        <label>Title:
          <input type ="text" name ="title">
        </label><br><br>
        <!--<label>Shift Start-Time:
          <input type ="time" name ="startTime" disabled>
        </label><br><br>
        <label>Shift End-Time:
          <input type ="time" name ="endTime" disabled>
        </label><br><br>
        <label>Hourly Rate:
          <input type ="number" name ="hourlyRate" disabled>
        </label><br><br>
        <label>Part-Time? </label>
          <select name = "partTime" disabled>
                  <option value = "TRUE" selected> Yes</option>
                  <option value = "FALSE" selected> No</option>
          </select>
        <br><br> -->
      <input name ="empSearch" id="empSearch" value="Search" type="submit"/>
    </fieldset>
  </form>

  {{#if emps}}
  <table>
  <tr>
    <th>Update</th>
    <th class="pk">employeeID</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>storeID</th>
    <th>title</th>
    <th>startTime</th>
    <th>stopTime</th>
    <th>hourlyRate</th>
    <th>partTime</th>
  </tr>
  {{#each emps}}
  <tr>
    <td><input type="button" name="update" value="Update" onClick="upEmp({{id}});"></td>
    <td>{{id}}</td>
    <td>{{fName}}</td>
    <td>{{lName}}</td>
    <td>{{sID}}</td>
    <td>{{title}}</td>
    <td>{{sTime}}</td>
    <td>{{stTime}}</td>
    <td>{{hRate}}</td>
    <td>{{pTime}}</td>
  </tr>
  {{/each}}
  </table>
  {{else}}
    <div class="warnText">No Employees Returned<br><br></div>
  {{/if}}
  
</div>
<footer>© Tropical Fish Emporium</footer>
