
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/proj3.css" rel = "stylesheet" type="text/css">

  <body>

      <div style="padding-left:16px">
        <h2>Tropical Fish Emporium</h2>
          <p>Search for and delete sales here.</p>

      <form method = "post">
        <fieldset>
          <legend>Search for a Sale:</legend>
            <label>Sale ID:
              <input type ="search" name ="saleID">
            </label><br><br>
  			    <label>Employee ID (who comlpeted the sale):
              <input type ="search" name ="employeeID">
            </label><br><br>
  			    <label>Customer ID (who puchased the product):
              <input type ="search" name ="customerID">
            </label><br><br>
  			    <label>Transaction Date:
              <input type ="date" name ="transactionDate">
            </label><br><br>
  			    <label>Purchase Total (including tax):
              <input type ="search" name ="totalPurchase">
            </label><br><br>
          <button onclick="return false;">Submit</button>
        </fieldset>
        <button onclick="return false;">See All</button>
{{#if sal}}
<div style="height: 300px; overflow-y: scroll;">
  <h3>Sales:</h3>
    <table>
      <tr>
        <th>select</th>
        <th class="pk">saleID</th>
        <th>employeeID</th>
        <th>customerID</th>
        <th>transactionDate</th>
        <th>totalPurchase</th>
      </tr>
      {{#each sal}}
      <tr>
        <td><input type="checkbox" name="salCheck{{id}}"></td>
        <td>{{id}}</td>
        <td>{{eID}}</td>
        <td>{{cID}}</td>
        <td>{{tDate}}</td>
        <td>{{tPurch}}</td>
      </tr>
    {{/each}}
    </table>
    </div>
{{/if}}
<br><br>
{{#if sal_prod}}
<div style="height: 300px; overflow-y: scroll;">
   <h3>sales_products:</h3>
    <table>
      <tr>
        <th>select</th>
        <th class="fk">saleID</th>
        <th class="fk">productID</th>
        <th> quantity</th>
      </tr>
      {{#each sal_prod}}
      <tr>
        <td><input type="checkbox" name="sal_prodCheck{{sid}}{{pid}}"></td>
        <td>{{sid}}</td>
        <td>{{pid}}</td>
        <td>{{qty}}</td>
      </tr>
    {{/each}}
    </table>
</div>
{{/if}}
</div>
    </form>
    </div>
    <footer>© Tropical Fish Emporium</footer>
  </body>

